header{
    display: flex;
    background-color: #053861;
    color: #fff;
    height: 90px;

}

td a:link{
    color: black;
}
ul{
    background-color: #053861;
    list-style-type: none;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;

}

li a, a:link, a:visited{
    color: black;
    text-decoration: none;
    /* background-color: #8ecae6; */

}

li a, a:hover,a:active{
    color: #8ecae6;
    background-color: #053861;
    text-decoration: underline;
}
img{    
    display: block;
    color: white;
    text-align: center;
    padding: 0;
    border: 0;
    margin: 0;
    text-decoration: none;
    width: 88px;
    height: 88px;    
}
button{
    background-color: #053861;
    color: white;
    
}
button:hover{
    color: #8ecae6;
    background-color: #053861;
    text-decoration: underline;   
}

.slider{
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    display: flex;
    padding: 0;
    margin: 0;
    width: 400%;
    animation: automatico 10s infinite alternate linear;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
    height: 400px;
}
@media(min-width:768px) {
    .slider img{
        height: 400px;
    }
}

@keyframes automatico{

    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}